<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .errors {
        color: red;
        padding-left: 15px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">

        <div class="jumbotron">
          <h1>Sequent Rails Example Application</h1>

          <p class="lead">
            This is an example CQRS/Event Sourced based application using the
            <a target="_blank" href="https://github.com/zilverline/sequent">sequent</a> gem
          </p>

          <p>
            <a class="btn btn-lg btn-success" target="_blank" href="https://github.com/zilverline/sequent" role="button">Read
              the Sequent docs!</a></p>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
