<h1>Index</h1>
<a href="<%= new_invoice_path %>">New invoice</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">View state build by the InvoiceRecordEventHandler</h3>
  </div>
  <div class="panel-body">
    <ul>
    <% InvoiceRecord.all.each do |invoice| %>
      <li><%= h invoice.recipient_name %> is invoiced for EUR <%= invoice.amount %>
    <% end %>
    </ul>
  </div>
</div>

